.row
  .col-md-offset-3.col-md-6
    .panel.panel-default
      .panel-body
        = bootstrap_form_for @team do |f|
          = f.text_field :name, autofocus: true
          = f.text_area :description
          = f.text_field :location
          = f.submit
