- content_for :pagetitle do
  %h1
    Edit Roster
    %small
      = @team.name
- content_for :itembar do
  = link_to 'Edit', edit_team_path(@team), class: 'btn btn-default' if policy(@team).edit?
  = link_to 'Back', @team, class: 'btn btn-default' if policy(@team).show?

.row
  .col-md-6
    = bootstrap_form_tag url: update_roster_team_path(@team), layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-8', method: :patch do |f|
      .panel.panel-warning
        .panel-heading
          %h3.panel-title Captain
        .panel-body
          = f.hidden_field 'subaction', value: 'update_captain'
          = f.select "team[roster][captain_id]", options_for_select(@team.users.map { |p| [p.display_name, p.id] }, @team.captain.id.to_s), label: 'Captain'
        .panel-footer
          = f.submit
  .col-md-6
    = bootstrap_form_tag url: add_player_team_path(@team), layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-8' do |f|
      .panel.panel-info
        .panel-heading
          %h3.panel-title Add new members
        .panel-body
          = f.text_field 'team[email]', label: 'Email'
        .panel-footer
          = f.submit 'Send invite'
= form_tag update_roster_team_path(@team), class: 'form-horizontal', method: :patch do
  = hidden_field_tag 'subaction', 'update_players'
  .panel.panel-default
    .panel-heading
      %h3.panel-title Players
    .panel-body
      - @team.members.order(:role).each do |m|
        .form-group{id: "member-#{m.id}"}
          = label_tag "team[roster][roles][]", m.user.display_name, class: 'control-label col-sm-3'
          .col-sm-8
            = hidden_field_tag "team[roster][player_ids][]", m.user_id
            - if m.accepted?
              = select_tag "team[roster][roles][]", options_for_select([['Starter', 'starter'], ['Alternate', 'alternate']], m.role), class: 'form-control'
            - else
              = select_tag "team[roster][roles][]", options_for_select(['Waiting to accept invite']), disabled: true, class: 'form-control'
          .col-sm-1
            = link_to fa_icon('trash lg'), remove_player_team_path(@team, team: {roster: {player_ids: [m.user_id]}}), method: :post, class: 'btn btn-danger' if policy(@team).remove_player? && !m.captain?
    .panel-footer
      = submit_tag 'Save', class: 'btn btn-primary'
