- content_for :pagetitle do
  %h1 #{@team.name}
- content_for :itembar do
  = link_to 'Edit', edit_team_path(@team), class: 'btn btn-default' if policy(@team).edit?
  = link_to 'Back', :back, class: 'btn btn-default' if policy(@team).index?

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Details
      .panel-body
        %p
          %strong Name:
          = @team.name
        %p
          %strong Description:
          = @team.description
        %p
          %strong Location:
          = @team.location
  .col-sm-6
    .panel.panel-info
      .panel-heading
        .row
          .col-xs-6
            %h3.panel-title Roster
          .col-xs-6.text-right
            = link_to fa_icon('edit lg'), edit_roster_team_path(@team), id: 'edit-roster' if policy(@team).edit_roster?
      .panel-body
        %p
          %strong Captain:
          %ul
            %li= link_to @team.captain.try(:display_name), user_profile_path(@team.captain.username)
        %p
          %strong Starters:
          %ul
            - @team.starters.each do |t|
              %li= link_to t.display_name, user_profile_path(t.username)
        %p
          %strong Alternates:
          %ul
            - @team.alternates.each do |t|
              %li= link_to t.display_name, user_profile_path(t.username)
%hr
.panel.panel-success
  .panel-heading
    %h2.panel-title Games
  .panel-body
    %h3 Upcoming
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Time
          %th Location
      %tbody
    %hr
    %h3 Complete
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Time
          %th Location
      %tbody

