- content_for :pagetitle do
  %h1 Team: #{@team.name}
- content_for :itembar do
  = link_to 'Edit', edit_team_path(@team), class: 'btn btn-default' if policy(@team).edit?
  = link_to 'Back', teams_path, class: 'btn btn-default' if policy(@team).index?

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Details
      .panel-body
        %p
          %strong Name:
          = @team.name
        %p
          %strong Description:
          = @team.description
        %p
          %strong Location:
          = @team.location
  .col-sm-6
    .panel.panel-info
      .panel-heading
        %h3.panel-title Roster
      .panel-body
        %p
          %strong Captain:
          = @team.name
        %p
          %strong Manager:
          = @team.name
        %p
          %strong Starters:
          = @team.starters.pluck(:name).to_sentence
        %p
          %strong Alternates:
          = @team.alternates.pluck(:name).to_sentence

.panel.panel-success
  .panel-heading
    %h2.panel-title Games
  .panel-body
    %h3 Upcoming
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Time
          %th Location
      %tbody
    %hr
    %h3 Complete
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Time
          %th Location
      %tbody
