- content_for :pagetitle do
  %h1 User: #{@user.display_name}

- content_for :itembar do
  = link_to 'Profile', profile_user_path(@user), class: 'btn btn-info'
  = link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' if policy(@user).edit?
  = link_to 'Destroy', user, class: 'btn btn-danger', method: :delete, 'data-confirm': 'Are you sure?' if policy(@user).destroy?
  = link_to 'Back', users_path, class: 'btn btn-default'

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title User details
      .panel-body
        %p
          %strong Name:
          = @user.display_name
        %p
          %strong Email:
          = @user.email
  .col-sm-6
