- @no_container = true
- @nav = 'inverted'

.jumbotron
  .container
    %h1.text-center
      How to play
    %hr
    .row.text-center
      .col-xs-4
        %p= fa_icon 'user-plus 2x'
        %h3 Step 1
        %p Sign up
      .col-xs-4
        %p= fa_icon 'plus 2x'
        %h3 Step 2
        %p Build your team
      .col-xs-4
        %p= fa_icon 'search 2x'
        %h3 Step 3
        %p Find your game
    - if current_user
      .row{style: 'margin-top: 50px;'}
        .col-sm-5.text-center
          = link_to 'Teams', teams_path, class: 'btn btn-primary btn-home'
        .col-sm-2
          &nbsp;
        .col-sm-5.text-center
          = link_to 'Games', games_path, class: 'btn btn-success btn-home'
    - else
      .row{style: 'margin-top: 50px;'}
        .col-sm-5.text-center
          = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-home'
        .col-sm-2
          &nbsp;
        .col-sm-5.text-center
          = link_to 'Log In', new_user_session_path, class: 'btn btn-success btn-home'
