- @no_container = true
- @nav = 'intro'

.jumbotron
  .container
    %h1.text-center
      How to play
    %hr
    .row.text-center
      .col-xs-4
        %p= fa_icon 'user-plus 2x'
        %h3 Step 1
        %p Sign up
      .col-xs-4
        %p= fa_icon 'plus 2x'
        %h3 Step 2
        %p Build your team
      .col-xs-4
        %p= fa_icon 'search 2x'
        %h3 Step 3
        %p Find your game
    .row{style: 'margin-top: 50px;'}
      .col-sm-5.text-right
        = link_to 'Sign up', '#', class: 'btn btn-primary', style: 'width: 100px'
      .col-sm-2
        &nbsp;
      .col-sm-5
        = link_to 'Log In', '#', class: 'btn btn-success', style: 'width: 100px'

:scss
  .jumbotron {
    height: 100%;
    background-image: url('img/softball.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    p, h1, h2, h3 {
      color: white;
    }
  }