- content_for :pagetitle do
  %h1 Editing Game
- content_for :itembar do
  = link_to 'Delete', @game, method: :delete, 'data-confirm': 'Are you sure?', class: 'btn btn-danger' if policy(@game).destroy?
  = link_to 'Back', @game, class: 'btn btn-default'

.row
  .col-md-offset-3.col-md-6
    .panel.panel-default
      .panel-body
        = bootstrap_form_for @game do |f|
          - if @game.pending?
            = f.datetime_select :time, ampm: true, order: [:month, :day, :year], use_short_month: true
            = f.text_field :location
          = f.text_area :notes
          = f.submit 'Update'
