- content_for :pagetitle do
  %h1 Game: #{@game.name}
- content_for :itembar do
  = link_to 'Cancel', '#', class: 'btn btn-danger' if policy(@game).edit?
  = link_to 'Edit', edit_game_path(@game), class: 'btn btn-default' if policy(@game).edit?
  = link_to 'Back', games_path, class: 'btn btn-default' if policy(@game).index?

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Details
      .panel-body
        %p
          %strong Time:
          = local_time @game.time
        %p
          %strong Location:
          = @game.location
        %p
          %strong Notes:
          = @game.notes
  .col-sm-6
    .panel.panel-info
      .panel-heading
        %h3.panel-title Score
      .panel-body


.panel.panel-success
  .panel-heading
    %h2.panel-title Teams
  .panel-body
    .row
    - @teams.each do |team|
      .col-sm-6
        %h3{style: 'margin:0;'}= link_to team.name, team
        %hr{style: 'margin-top:10px;'}
        %p
          %strong Captain:
          %ul
            %li= link_to team.captain.try(:display_name), profile_user_path(team.captain)
        %p
          %strong Starters:
          %ul
            - team.starters.each do |t|
              %li= link_to t.display_name, profile_user_path(t)
        %p
          %strong Alternates:
          %ul
            - team.alternates.each do |t|
              %li= link_to t.display_name, profile_user_path(t)

