- content_for :pagetitle do
  %h1 #{@game.name}
- content_for :itembar do
  = link_to 'Cancel', cancel_game_path(@game), method: :patch, class: 'btn btn-danger' if policy(@game).cancel?
  - if policy(@game).complete?
    .dropdown
      %button.btn.btn-primary.dropdown-toggle{type: 'button', 'data-toggle': 'dropdown'}
        Complete
        %span.caret
      %ul.dropdown-menu
        %li= link_to 'Win', complete_game_path(@game, status: 'win'), method: :patch
        %li= link_to 'Draw', complete_game_path(@game, status: 'draw'), method: :patch
        %li= link_to 'Loss', complete_game_path(@game, status: 'loss'), method: :patch
  = link_to 'Edit', edit_game_path(@game), class: 'btn btn-default' if policy(@game).edit?
  = link_to 'All Games', games_path, class: 'btn btn-default' if policy(@game).index?

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Details
      .panel-body
        %p
          %strong Time:
          = local_time @game.time if @game.time.present?
        %p
          %strong Location:
          = @game.location
        %p
          %strong Notes:
          = @game.notes
  .col-sm-6
    - if @game.completed?
      .panel.panel-info
        .panel-heading
          %h3.panel-title Result
        .panel-body.text-center
          %h1.text-info= @game.status.capitalize
    - elsif @game.canceled?
      .panel.panel-warning
        .panel-heading
          %h3.panel-title Status
        .panel-body.text-center
          %h1.text-danger Canceled
    - elsif @game.time.today? && @attendance.unreported?
      .panel.panel-info
        .panel-heading
          %h3.panel-title Are you going?
        .panel-body
          .row
            .col-sm-6
              = link_to fa_icon('check 5x'), attend_user_attendances_path(@attendance, game_id: @game.id), class: 'btn btn-block btn-success', title: 'Attending', method: :patch if policy(@attendance).attend?
            .col-sm-6
              = link_to fa_icon('times 5x'), absent_user_attendances_path(@attendance, game_id: @game.id), class: 'btn btn-block btn-danger', title: 'Not Attending', method: :patch if policy(@attendance).attend?
    - elsif @game.time.past? || !@attendance.unreported?
      .panel.panel-info
        .panel-heading
          %h3.panel-title Are you going?
        .panel-body.text-center
          - if @attendance.attending?
            %h1.text-success Going
          - elsif @attendance.absent?
            %h1.text-danger Not Going
          - else
            %h1.text-info Not Reported
.row
  .col-md-6
    .panel.panel-success
      .panel-heading
        %h2.panel-title Roster
      .panel-body
        %h3{style: 'margin:0;'}= link_to @team.name, @team
        %hr{style: 'margin-top:10px;'}
        %p
          %strong Starters:
          %table.table
            - @starting_attendances.each do |t|
              %tr
                %td= link_to t.user.display_name, user_profile_path(t.user.username)
                - if t.attending?
                  %td.text-success= fa_icon('check lg', title: 'Attending')
                - elsif t.absent?
                  %td.text-danger= fa_icon('times lg', title: 'Not Attending')
                - else
                  %td.text-info= fa_icon('minus lg', title: 'Unreported')
        %p
          %strong Alternates:
          %table.table
            - @alternate_attendances.each do |t|
              %tr
                %td= link_to t.user.display_name, user_profile_path(t.user.username)
                - if t.attending?
                  %td.text-success= fa_icon('check lg', title: 'Attending')
                - elsif t.absent?
                  %td.text-danger= fa_icon('times lg', title: 'Not Attending')
                - else
                  %td.text-info= fa_icon('minus lg', title: 'Unreported')
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Comments
      .panel-body.pre-scrollable{style: 'padding: 0;'}
        %table.table.table-striped{style: 'margin-bottom: 0;'}
          - @comments.each do |comment|
            %tr
              %td{style: 'width: 25%'}
                %strong= "#{comment.try(:commenter).try(:display_name) || 'System'}: "
              %td= comment.comment
              %td{style: 'width: 20%; vertical-align: center;'}
                = link_to fa_icon('trash'), comment_path(comment), method: 'delete', data: {confirm: 'Are you sure you want to delete this comment?'}, title: 'Delete' if policy(comment).destroy?
      .panel-footer
        = bootstrap_form_for Comment.new do |f|
          = f.hidden_field :commentable_type, value: 'Game'
          = f.hidden_field :commentable_id, value: @game.id
          = f.text_field :comment, append: (f.submit '+', class: 'btn btn-sm btn-info', id: 'submit-comment'), hide_label: true, autocomplete: :off, id: 'comment-comment', class: 'input-sm'
