- content_for :pagetitle do
  %h1 Game: #{@game.name}
- content_for :itembar do
  = link_to 'Edit', edit_game_path(@game), class: 'btn btn-default' if policy(@game).edit?
  = link_to 'Back', games_path, class: 'btn btn-default' if policy(@game).index?

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Details
      .panel-body
        %p
          %strong Time:
          = local_time @game.time
        %p
          %strong Location:
          = @game.location
        %p
          %strong Notes:
          = @game.notes
  .col-sm-6
    .panel.panel-info
      .panel-heading
        %h3.panel-title Score
      .panel-body


.panel.panel-success
  .panel-heading
    %h2.panel-title Teams
  .panel-body
    .row
    - @teams.each do |t|
      .col-sm-6
        %p
          %strong Team:
          = t.name
        %p
          %strong Captain:
          = t.captain.try(:name)
        %p
          %strong Manager:
          = t.manager.try(:name)
        %p
          %strong Starters:
          = t.starters.pluck(:name).to_sentence
        %p
          %strong Alternates:
          = t.alternates.pluck(:name).to_sentence
