- content_for :pagetitle do
  %h1 Game: #{@game.name}
- content_for :itembar do
  = link_to 'Cancel', '#', class: 'btn btn-danger' if policy(@game).edit?
  = link_to 'Edit', edit_game_path(@game), class: 'btn btn-default' if policy(@game).edit?
  = link_to 'Back', games_path, class: 'btn btn-default' if policy(@game).index?

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Details
      .panel-body
        %p
          %strong Time:
          = local_time @game.time if @game.time.present?
        %p
          %strong Location:
          = @game.location
        %p
          %strong Notes:
          = @game.notes
  .col-sm-6
    .panel.panel-info
      .panel-heading
        %h3.panel-title Are you going?
      .panel-body
        .row
          .col-sm-6
            = link_to fa_icon('check 5x'), '#', class: 'btn btn-block btn-success', title: 'Attending'
          .col-sm-6
            = link_to fa_icon('times 5x'), '#', class: 'btn btn-block btn-danger', title: 'Absent'

.panel.panel-success
  .panel-heading
    %h2.panel-title Roster
  .panel-body
    .row
      .col-sm-6
        %h3{style: 'margin:0;'}= link_to @team.name, @team
        %hr{style: 'margin-top:10px;'}
        %p
          %strong Starters:
          %table
            - @team.starters.each do |t|
              %tr
                %td= link_to t.display_name, profile_user_path(t)
                %td{style: 'padding: 0 10px;'}= link_to fa_icon('plus lg'), '#', class: 'text-success'
                %td{style: 'padding: 0 10px;'}= link_to fa_icon('times lg'), '#', class: 'text-danger'
        %p
          %strong Alternates:
          %table
            - @team.alternates.each do |t|
              %tr
                %td= link_to t.display_name, profile_user_path(t)
                %td{style: 'padding: 0 10px;'}= link_to fa_icon('plus lg'), '#', class: 'text-success'
                %td{style: 'padding: 0 10px;'}= link_to fa_icon('times lg'), '#', class: 'text-danger'
