
.row
  .col-sm-offset-3.col-sm-6
    %p= "#{@user.display_name},"
    %p
      #{@team.captain.display_name} has invited you to join team #{content_tag :strong, @team.name}.  Click the link belong to accept the invitation.
    %hr
    %p.text-center
      = link_to 'Accept Invitation', @path, method: :patch, class: 'btn btn-lg btn-success'