!!! 5
%html{lang: 'en'}
  %head
    %title= content_for?(:title) ? yield(:title) : 'MyRecTeam'
    =favicon_link_tag

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'My Rec Team'}"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body{data: {controller: params[:controller], action: params[:action]}}
    = render "layouts/nav/#{@nav || 'default'}"
    %main{role: "main"}
      %div{class: ('container' unless @no_container)}
        - if content_for?(:pagetop)
          .page-header= yield :pagetop
        - elsif content_for?(:pagetitle) || content_for?(:itembar)
          .page-header
            .row
              .col-xs-6
                = yield :pagetitle if content_for?(:pagetitle)
              .col-xs-6#item-bar.text-right
                = yield :itembar if content_for?(:itembar)
        = render 'layouts/messages'
        = yield
    %footer
      = render 'layouts/footer'
